#cards {
  width: 100%;
  max-width: none;
}

/* Banner */
#nxr-banner {
  background-image: url("../images/nxr-banner.jpg");
  background-position: top center;
  background-size: cover;
  background-repeat: no-repeat;
  color: #ffffff;
  height: 30vh;
  min-height: 120px;
  margin-bottom: 20px;
}

#ip-banner {
  color: #0b0b0b;
}

#ls-banner {
  background-image: url("../images/ls-banner.jpg");
  background-position: top center;
  background-size: cover;
  background-repeat: no-repeat;
  color: #ffffff;
}

#sxthree-banner {
  background-image: url("../images/sx3-banner.jpg");
  background-position: top center;
  background-size: cover;
  background-repeat: no-repeat;
  color: #ffffff;
}

.banner_whole {
  height: 30vh;
  min-height: 120px;
  margin-bottom: 20px;
}

#banner-box {
  position: relative;
}

#banner-box article,
.content-container {
  width: 85%;
  margin: 0 auto;
  max-width: 800px;
}

.content-container {
  text-align: center;
}

#banner-box h1,
#banner-box h2,
#banner-box h3,
.content-container h1,
.content-container h2,
.content-container h3,
.content-container h4 {
  margin: 0;
}

#banner-box h1,
.content-container h1 {
  font-size: 2em;
  font-weight: 700;
  margin-bottom: 20px;
}

#banner-box h2,
.content-container h2 {
  font-size: 1.3em;
  font-weight: 400;
  margin-bottom: 10px;
  line-height: 1.5em;
}

#banner-box h3,
.content-container h3 {
  font-size: 1.2em;
  font-weight: 200;
  margin-bottom: 5px;
}

.content-container h4 {
  font-size: 0.9em;
  font-weight: 200;
  margin-bottom: 5px;
}

.content-container ul.list {
  margin: 0;
  padding: 0 0 0 25px;
  font-size: 1.1em;
  line-height: 1.3em;
}

.content-container ul.list li {
  list-style-type: disc;
  margin-bottom: 10px;
}

#xd-links-box {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
}

.xd-btn {
  line-height: 2em;
  width: 150px;
  text-align: center;
  text-decoration: none;
  border-radius: 20px;
  font-size: 1.2em;
  font-weight: 400;
  margin-bottom: 10px;
}

#nxr-content .xd-btn {
  background-color: #eacb7b;
  color: #0b0b0b;
}

#nxr-content .xd-btn:hover {
  background-color: #1da2b1;
  color: #ffffff;
}

#ls-content .xd-btn {
  background-color: #bd5d57;
  color: #ffffff;
}

#ls-content .xd-btn:hover {
  background-color: #69a2e9;
  color: #ffffff;
}

#sxthree-content .xd-btn {
  background-color: #bd5d57;
  color: #ffffff;
}

#sxthree-content .xd-btn:hover {
  background-color: #69a2e9;
  color: #ffffff;
}

/* Content */
.sec-title {
  width: 100%;
  height: 20px;
  border-bottom: 1px solid #a7a5a5;
  text-align: center;
  margin-bottom: 40px;
  margin-top: 30px;
}

.sec-title span {
  background-color: #ffffff;
  padding: 0 10px;
  font-size: 1.8em;
  font-weight: 400;
}

.content-container img {
  width: 100%;
  margin-bottom: 15px;
}

.video-container {
  overflow: hidden;
  position: relative;
  width: 100%;
}

.video-container::after {
  padding-top: 56.25%;
  display: block;
  content: "";
}

.video-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.design-ideas {
  text-align: left;
  margin-bottom: 40px;
}

.credit-box {
  margin-top: 20px;
  text-align: left;
}

.credit-box ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.credit-box ul li {
  margin-bottom: 10px;
}

.design-ideas img {
  margin-bottom: 0 !important;
}

.img-ref {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.img-ref img {
  width: 60%;
  margin-right: 15px;
}

.img-column {
  display: flex;
  justify-content: space-between;
}

.img-column article {
  width: 49%;
}

/* IELTSpractice website building */
.ip-screens {
  position: relative;
}

.ip-screens span {
  position: absolute;
  display: block;
  width: 112px;
  height: 33px;
  padding: 6px 0 0 8px;
  font-size: 1em;
  color: #ffffff;
  text-align: left;
}

.ip-screens span.spink {
  background-image: url("../images/labels/label-3.png");
  background-size: cover;
}

.ip-screens span.lgreen {
  background-image: url("../images/labels/label-17.png");
  background-size: cover;
}

.ip-screens span.rorange {
  background-image: url("../images/labels/label-10.png");
  background-size: cover;
}

.ip-screens#ip-web {
  width: 60%;
}

.ip-screens#ip-web span {
  top: 20px;
  right: -100px;
}

#ip-screen-flex {
  margin-top: 10px;
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
}

.ip-screens#ip-tablet {
  width: 50%;
  margin-right: 50px;
}

.ip-screens#ip-tablet span {
  top: 20px;
  right: -80px;
  z-index: 2;
}

.ip-screens#ip-mobile {
  width: 20%;
}

.ip-screens#ip-mobile span {
  bottom: 0px;
  right: -70px;
}

/*for phones  */
@media only screen and (min-width: 768px) {
  #nxr-banner,
  #ls-banner,
  #sxthree-banner {
    height: 40vh;
    min-height: 500px;
    background-size: cover;
  }

  #banner-box .content-box {
    position: absolute;
    top: 12%;
    left: 10%;
  }

  #banner-box h1 {
    font-size: 2.6em;
    margin-bottom: 10px;
  }

  #banner-box h1,
  #banner-box h2,
  #banner-box h3 {
    padding-right: 45%;
    color: #ffffff;
  }

  /* Ul 2 column table  */
  .design-ideas .list-box {
    margin: 0;
    padding: 0;
    display: flex;
  }

  .design-ideas .list-box article {
    width: 40%;
  }

  /* IP label position */
  .ip-screens span {
    width: 168px;
    height: 51px;
    padding: 8px 0 0 20px;
    font-size: 1.4em;
  }
  .video {
    width: 640px;
    height: 385px;
  }
}

/*for small laptops  */
@media only screen and (min-width: 992px) {
  #banner-box .content-box {
    left: 20%;
  }
  .video {
    width: 853px;
    height: 505px;
  }
}

/*for laptops and desktops */
@media only screen and (min-width: 1200px) {
  #banner-box .content-box {
    left: 25%;
  }
}
