@import url("https://fonts.googleapis.com/css2?family=Dosis:wght@200;400;600;700&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap");

body {
  font-family: "Dosis", sans-serif;
  font-size: 14px;
  color: #191919;
  font-weight: 400;
  display: flex;
  flex-direction: column;
  height: 100vh;
}

a {
  cursor: pointer;
}

header {
  padding: 38px 0 20px 0;
  background-color: #fff;
  text-align: center;
}

#header-width {
  width: 70%;
  margin: 0 auto;
}

header .nav {
  justify-content: space-between;
  flex-wrap: nowrap;
}

#logo {
  width: 100px;
  margin-bottom: 20px;
}

.nav-link {
  color: #191919;
  font-size: 1.2em;
  font-weight: 600;
}

.nav-link:hover {
  color: #f9d026;
}
#portfolio .nav-link.active-port,
#aboutme .nav-link.active-about,
#contact .nav-link.active-contact {
  color: #f9d026;
  text-decoration: underline;
}

/* Works cards */
.hidden {
  display: none !important;
}

main {
  flex-grow: 1;
}

/* Content */
#cards {
  width: 70%;
  margin: 0 auto;
  max-width: 1000px;
  display: flex;
  flex-direction: column;
}

#work_filter {
  align-self: flex-end;
  margin-bottom: 20px;
}

.dropdown-toggle {
  background-color: #f8d026;
  display: inline-block;
  border-radius: 100px;
  padding: 5px 20px;
  color: #191919;
  text-decoration: none;
}

section {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

section a {
  width: 100%;
  background-size: cover;
  color: #fff;
  cursor: pointer;
  text-decoration: none;
  min-height: 300px;
  position: relative;
  background-position: center;
  margin-bottom: 30px;
}

section a:hover {
  color: #fff;
}

.front-title {
  position: absolute;
  bottom: 0;
  padding: 20px;
}

.bg-cover {
  display: none;
}

.card-box span {
  display: block;
  line-height: 1em;
}

.card-box span.title {
  font-size: 2em;
  font-weight: 600;
  margin-top: 8px;
}

.card-box span.subtitle {
  font-size: 1.2em;
  font-weight: 200;
}

.card-box span.caption {
  font-size: 1em;
  font-weight: 400;
  margin-top: 10px;
  line-height: 1.2em;
}

#nxr {
  background-image: url("../images/thumb/nxr.jpg");
}

#b612 {
  background-image: url("../images/thumb/B612.gif");
}

#ieltspractice {
  background-image: url("../images/thumb/tablet-ieltspractice.jpg");
}

#pizzaville {
  background-image: url("../images/thumb/pizzaville.jpg");
}

#breakfast {
  background-image: url("../images/thumb/breakfast.jpg");
  color: #0b0b0b;
}

#apartment {
  background-image: url("../images/thumb/app-apartment-rental.jpg");
}

/* About us */
#aboutus-content,
#contact-box {
  width: 70%;
  margin: 0 auto;
  max-width: 1000px;
}

#aboutus-image {
  background-image: url("../images/puikwanlung-profile-image.jpg");
  width: 100%;
  height: 50vh;
  min-height: 500px;
  background-size: cover;
  background-position: center center;
  margin-bottom: 50px;
}

#aboutus-box h2 {
  font-size: 1.4em;
  font-weight: 200;
  line-height: 1.6em;
  margin: 20px 0 0 0;
}

/* Typewriter */
#typewriter span {
  font-size: 1.4em;
  margin: 0;
  font-family: "Dosis", sans-serif;
  display: inline-block;
  line-height: 1.4em;
  font-weight: 600;
}

#typewriter:after {
  content: " _";
  animation: blink 500ms linear infinite alternate;
  font-weight: 600;
  font-size: 1.4em;
}
@-webkit-keyframes blink {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-moz-keyframes blink {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes blink {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/* Contact pages */
#contact-box {
  margin-top: 100px;
}

#contact-box article {
  margin-bottom: 30px;
  text-align: center;
  font-family: "Dosis", sans-serif;
}

#contact-box h1 {
  font-size: 2.8em;
  font-weight: 600;
  margin: 0;
  line-height: 1.4em;
}

#contact-box h2 {
  font-size: 1.6em;
  font-weight: 400;
  margin: 0;
  line-height: 1.4em;
  display: flex;
  justify-content: center;
  align-items: center;
}

#contact-box h2 a {
  text-decoration: none;
  color: #191919;
}

#contact-box h2 img {
  width: 28px;
  height: 28px;
  margin-right: 3px;
}

/* Text highlight effect */
span.highlight {
  background-image: linear-gradient(#f9d026, #f9d026);
  background-repeat: no-repeat;
  background-position: 0% 100%;
  background-size: 100% 2px;
  transition: background-size 0.5s, background-position 0.3s ease-in 0.5s;
}

span.highlight:hover {
  background-size: 100% 100%;
  background-position: 0% 0%;
  transition: background-position 0.3s, background-size 0.1s ease-in 0.3s;
}

/* Footer */
footer {
  width: 70%;
  margin: 0 auto;
  text-align: right;
  padding: 50px 0;
  max-width: 1000px;
}

footer .logo {
  width: 28px;
}

footer p,
footer a {
  margin: 0;
  padding: 0;
  font-size: 0.9em;
  color: #8e8e8e;
  text-decoration: none;
  display: block;
}

footer ul#social-links li {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  margin: 0;
  padding: 0 0 2px 0;
}

footer a:hover {
  text-decoration: underline;
}

footer li img {
  width: 16px;
  height: 16px;
  margin-right: 3px;
}

/*for small desktop  */
@media only screen and (min-width: 768px) {
  header .nav {
    justify-content: center;
  }
  header .nav li {
    padding: 0 38px;
  }
  .bg-cover {
    top: 100%;
    position: relative;
    transition: all 0.4s ease-in-out;
    height: 100%;
    z-index: 2;
    padding: 10%;
    display: block;
    color: #fff;
    text-decoration: none;
    display: block;
  }

  .bg-cover:hover {
    color: #fff;
  }

  .card-box:hover > .bg-cover {
    top: 0;
  }

  .bg-cover.nxr {
    background: #1aa9a4;
  }

  .bg-cover.ip {
    background: #ff9d00;
  }

  .bg-cover.pizzaville {
    background: #bb041c;
  }

  .bg-cover.b612 {
    background: #1a1a1a;
  }

  .bg-cover.breakfast {
    background: #cba38d;
  }

  .bg-cover.apartment {
    background: #eacc4e;
  }

  section {
    flex-flow: row wrap;
    justify-content: flex-start;
  }

  section a {
    aspect-ratio: 1/1;
    position: relative;
    overflow: hidden;
    animation-duration: 0.8s;
    transform-origin: bottom;
    min-height: unset;
  }

  section .card-box {
    width: calc((100% - 60px) / 3);
    margin-right: 20px;
  }

  .card-box span.title {
    font-size: 2em;
  }

  .card-box span.subtitle {
    font-size: 1.2em;
  }
}

/*for medium desktop  */
@media only screen and (min-width: 1000px) {
  /* About us */

  #aboutus-box {
    display: flex;
    justify-content: center;
    align-items: top;
    width: 70%;
    margin: 0 auto;
    max-width: 1000px;
  }

  #aboutus-image {
    width: 500px;
    background-size: cover;
    background-position: center bottom;
    margin-bottom: 0;
  }

  #aboutus-image {
    width: 40%;
  }

  #aboutus-content {
    width: 55%;
    margin-left: 5%;
  }
}
