@import url("https://fonts.googleapis.com/css2?family=Dosis:wght@200;400;600;700&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap");

body {
  font-family: "Dosis", sans-serif;
  font-size: 14px;
  color: #191919;
  font-weight: 400;
  display: flex;
  flex-direction: column;
  height: 100vh;
}

a {
  cursor: pointer;
}

header {
  padding: 38px 0 20px 0;
  background-color: #fff;
  text-align: center;
}

#header-width {
  width: 70%;
  margin: 0 auto;
}

header .nav {
  justify-content: space-between;
}

#logo {
  width: 100px;
  margin-bottom: 20px;
}

.nav-link {
  color: #191919;
}

.nav-link:hover {
  color: #f9d026;
}

/* Works cards */
.hidden {
  display: none !important;
}

main {
  flex-grow: 1;
}

/* Content */
#cards {
  width: 70%;
  margin: 0 auto;
  max-width: 1000px;
  display: flex;
  flex-direction: column;
}

#work_filter {
  align-self: flex-end;
  margin-bottom: 20px;
}

.dropdown-toggle {
  background-color: #f8d026;
  display: inline-block;
  border-radius: 100px;
  padding: 5px 20px;
  color: #191919;
  text-decoration: none;
}

section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 30px;
}

section a {
  width: 100%;
  aspect-ratio: 1/1;

  background-size: cover;
  color: #fff;
  position: relative;
  overflow: hidden;
  animation-duration: 0.8s;
  transform-origin: bottom;
  cursor: pointer;
  text-decoration: none;
}

.bg-cover {
  display: none;
}

/* .bg-cover {
  top: 100%;
  position: relative;
  transition: all 0.4s ease-in-out;
  height: 100%;
  z-index: 2;
  padding: 10%;
  display: block;
  color: #fff;
  text-decoration: none;
  display: none;
}

.bg-cover:hover {
  color: #fff;
}

.card-box:hover > .bg-cover {
  top: 0;
}

.bg-cover.nxr {
  background: #1aa9a4;
}

.bg-cover.ip {
  background: #ff9d00;
}

.bg-cover.pizzaville {
  background: #bb041c;
}

.bg-cover.b612 {
  background: #1a1a1a;
} */

/* .card-box p {
  position: absolute;
  margin: 0;
  padding: 10%;
  bottom: 0;
} */

/* .card-box .front-title {
  position: absolute;
  margin: 0;
  padding: 10%;
  bottom: 0;
} */

.card-box span {
  display: block;
  line-height: 1em;
}

.card-box span.title {
  font-size: 1.2em;
  font-weight: 600;
  margin-top: 8px;
}

.card-box span.subtitle {
  font-size: 0.9em;
  font-weight: 200;
}

.card-box span.caption {
  font-size: 1em;
  font-weight: 400;
  margin-top: 10px;
  line-height: 1.2em;
}

#nxr {
  background-image: url("../images/thumb/nxr.jpg");
}

#b612 {
  background-image: url("../images/thumb/B612.gif");
}

#ieltspractice {
  background-image: url("../images/thumb/tablet-ieltspractice.jpg");
}

#pizzaville {
  background-image: url("../images/thumb/pizzaville.jpg");
}

/* About us */

#aboutus-box {
  padding: 50px;
}

#aboutus-box h1 {
  font-size: 1.6em;
  font-weight: 600;
  line-height: 1.8em;
  margin: 30px 0 0 0;
}

#aboutus-box h2 {
  font-size: 1.2em;
  font-weight: 200;
  line-height: 1.6em;
  margin: 0;
}

#aboutus-box span {
  font-size: 1.2em;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
}

#aboutus-box img.mobile {
  display: block;
  width: 100%;
  margin: 0 auto;
}

/* Footer */
footer {
  width: 70%;
  margin: 0 auto;
  text-align: right;
  padding: 50px 0;
  max-width: 1000px;
}

footer .logo {
  width: 28px;
}

footer p,
footer a {
  margin: 0;
  padding: 0;
  font-size: 0.9em;
  color: #8e8e8e;
  text-decoration: none;
  display: block;
}

footer ul#social-links {
  margin-top: 12px;
}

footer ul#social-links li {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  margin: 0;
  padding: 0 0 2px 0;
}

footer a:hover {
  text-decoration: underline;
}

footer li img {
  width: 16px;
  height: 16px;
  margin-right: 5px;
}

/*for small desktop  */
@media only screen and (min-width: 768px) {
  header .nav {
    justify-content: center;
  }
  header .nav li {
    padding: 0 38px;
  }
  .bg-cover {
    top: 100%;
    position: relative;
    transition: all 0.4s ease-in-out;
    height: 100%;
    z-index: 2;
    padding: 10%;
    display: block;
    color: #fff;
    text-decoration: none;
    display: none;
  }

  .bg-cover:hover {
    color: #fff;
  }

  .card-box:hover > .bg-cover {
    top: 0;
  }

  .bg-cover.nxr {
    background: #1aa9a4;
  }

  .bg-cover.ip {
    background: #ff9d00;
  }

  .bg-cover.pizzaville {
    background: #bb041c;
  }

  .bg-cover.b612 {
    background: #1a1a1a;
  }

  .card-box .front-title {
    position: absolute;
    margin: 0;
    padding: 10%;
    bottom: 0;
  }

  section {
    flex-flow: row wrap;
    justify-content: space-between;
  }

  section .card-box {
    width: calc((100% - 60px) / 3);
  }

  .card-box span.title {
    font-size: 2em;
  }

  .card-box span.subtitle {
    font-size: 1.2em;
  }

  .bg-cover {
    display: block;
  }

  body#aboutme {
    background-clip: border-box;
    background-position: -420px 0;

    background-image: url("../images/puikwanlung-profile-image-desktop.jpg");
    background-repeat: no-repeat;
  }

  #aboutus-box img.mobile {
    display: none;
  }

  #aboutus-content {
    width: 100%;
    margin: 0 auto;
    max-width: 1000px;
  }

  #aboutus-box h1,
  #aboutus-box h2 {
    padding-left: 50%;
  }

  #aboutus-box h1 {
    line-height: 1.2em;
    font-size: 2em;
    margin-bottom: 15px;
  }

  #aboutus-box h2 {
    font-size: 1.2em;
    line-height: 1.4em;
  }

  #aboutus-box span {
    font-size: 1.2em;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
  }
}

/*for small laptops  */
@media only screen and (min-width: 992px) {
  body#aboutme {
    background-position: -300px 0;
  }

  #aboutus-box h1 {
    line-height: 1.2em;
    font-size: 2em;
    margin-bottom: 15px;
  }

  #aboutus-box h2 {
    font-size: 1.4em;
    line-height: 1.4em;
  }
}

/*for laptops and desktops */
@media only screen and (min-width: 1200px) {
  body#aboutme {
    background-position: -200px 0;
  }
}

/*for large laptops and desktops */
@media only screen and (min-width: 1400px) {
  body#aboutme {
    background-position: -100px 0;
  }
}

/*for xlarge laptops and desktops */
@media only screen and (min-width: 1650px) {
  body#aboutme {
    background-position: 0 0;
  }
}
